body{
    height: 500px;
    overflow-x: hidden;
}

header{
    color:white;
}

#imageLogo{
        filter: invert(95%);
}

.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar{
    transition: all 0.5s;
}

.navbar-scrolled{
    background-color: rgba(0, 0, 0, 0.877);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.014);
}

.box button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.box button:hover {
    background-color: #0056b3;
}
.box {
    width: 300px;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left:35%;
    margin-right: 35%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.bg-img2{
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.image1{
    height: 200px;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

@font-face {
    font-family: 'Paris2024';
    src: url('Paris2024-Variable.ttf') format('truetype');
}

h1 {
    padding-top: 300px;
    padding-bottom: 500px;
    font-size: 75px;
    font-family: 'Paris2024', sans-serif;
}

h2 {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 75px;
    color: black;
    font-family: 'Paris2024', sans-serif;
}

h3{
    margin-left:7%;
    margin-right:7%;
    font-family: 'Paris2024', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
}

p {
    margin-right:70px;
    margin-left: 45%;
    text-align: left;
    font-size:20px;
}

.p2{
    margin-left:70px;
    margin-right:59%;
    font-family: 'Paris2024', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

.p3{
    text-align: center;
}

ul{
    margin-right:70px;
    margin-left: 50%;
    text-align: left;
    font-size:18px;
}

form{
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left:35%;
    margin-right: 35%;
}

#faq-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
}

#faqList {
    padding: 20px;
}

.faq-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #DDB97A;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#choice_button{
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #DDB97A;
}

.answer {
    margin-top: 10px;
    font-weight: bold;
}

.selec{
    margin-left: 40%;
    margin-top: 100px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
#container-rando {
    background-color: #DCF5CD;
    box-shadow: 0 0 10px #C7DEBA;
    border-radius: 2px;
    overflow: hidden;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
}

.para {
    margin-right:70px;
    margin-left: 10%;
    text-align: left;
    font-size:20px;
}

